body {
    background-color: darkslategray;
}

/* .movie-list-container {
    width: 100%;
    overflow-x: scroll;
}

.horizontal-scroll-wrapper {
    display: flex;
    padding: 0 10px;
}

.movie-test {
    text-align: center;
    margin: 0 2px;
}
  
.movie-item-block {
    flex: 0 0 19.7%;
    text-align: center;
    margin: 0 2px;
    transition: transform 300ms ease 100ms;

}

.movie-item-img {
    border-style: solid;
    width: 200px;
    height: 200px;
}
*/


.player-wrapper {
    position: relative;
    padding-top: 40% 
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

.slick-current  .movie-item-block .movie-item-title p {
    color: red;
}


.movie-item-block {
    display: inline-block;
    position: relative;
}

.movie-item-block img {
    max-width: 100%;
    border-style: dotted;
}

.movie-item-block:hover img{
    opacity:0.5;
}

.slick-slide, .slick-slide *{ 
    outline: none !important; 
}

.movie-list-container > .slick-slider > .slick-list > .slick-track {    
    margin-left:0;
}

.movie-item-block:hover button {
    display: block;
}

.movie-item-block button {
    position:absolute;
    display:none;
}

.movie-item-block button.play-button {
    top:40%;
    left:30%;
}

.movie-item-block button.detail-button {
    top:40%;
    left:50%;
}


